<?xml version="1.0" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <variable name="Folder" value="C:/logs" />
    <targets>
        <target name="EventsFile" xsi:type="File"
                layout="${longdate} ${level:upperCase=true}: ${message}"
                fileName="${Folder}/event/Events.${shortdate}.log"
                keepFileOpen="false"
                encoding="iso-8859-2" />
        <target name="ManagerFile" xsi:type="File"
                layout="${longdate} ${level:upperCase=true}: ${message}"
                fileName="${Folder}/event/Manager.${shortdate}.log"
                keepFileOpen="false"
                encoding="iso-8859-2" />
    </targets>
    <rules>
        <logger name="Events" minlevel="Info"
                writeTo="EventsFile" />
        <logger name="Manager" minlevel="Trace"
                writeTo="ManagerFile" />
    </rules>
</nlog>